@model IEnumerable<SalonManagementSystem.Models.Employee>

<div class="container mt-5">
    <h2 class="text-center">Employees List</h2>
    <div class="row">
        @if (Model != null && Model.Any())
        {
            foreach (var employee in Model)
            {
                <div class="col-md-4 mb-4">
                    <div class="card shadow-lg border-light rounded">
                        <div class="card-body">
                            <h5 class="card-title text-dark">@employee.Name</h5>
                            <p class="card-text text-muted">
                                Service: @employee.Service?.Name <br />
                                Working Hours: @employee.StartWorkingHours.ToString("hh\\:mm") - @employee.EndWorkingHours.ToString("hh\\:mm")
                            </p>
                            <a href="@Url.Action("DeleteEmployee", "Admin", new { id = employee.Id })" class="btn btn-danger btn-block">
                                Delete Employee
                            </a>
                        </div>
                    </div>
                </div>
            }
        }
        else
        {
            <div class="col-12">
                <p class="text-center text-muted">No employees found.</p>
            </div>
        }
    </div>
</div>
